<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    * {
        font-family: Calibri, Arial, sans-serif;
        font-size: 14px;
    }
    body {
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
        color: #333;
    }
    table {
        border-collapse: collapse;
        width: 100%;
        background-color: #ffffff;
        margin-top: 20px;
    }
    table, th, td {
        border: 1px solid #d4d4d4;
    }
    th, td {
        padding: 12px 15px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    p {
        margin-bottom: 20px;
    }
    b {
        color: #555;
    }
    .highlight {
        background-color: #ffe5e5;
        padding: 15px;
        border-radius: 5px;
        margin-bottom: 20px;
        font-weight: bold;
    }
    /* Primary Dark Mode Colors */
    .sea {
        background-color: #00F6FF;
    }
    .mint {
        background-color: #00FFF0;
    }
    .lilac {
        background-color: #B896FF;
    }
    .sky {
        background-color: #7BA8FF;
    }
    .night {
        background-color: #060606;
    }
    /* Primary Light Mode Colors */
    .cobalt {
        background-color: #0047FF;
    }
    .aqua {
        background-color: #0078C2;
    }
    .iris {
        background-color: #8453D2;
    }
    .slate {
        background-color: #4A71BD;
    }
    .snow {
        background-color: #FBFAFA;
    }
</style>
