<!DOCTYPE html>
<html lang="ru">
<head>
    ${emailStyle}
</head>
<body>
    <p>Здравствуйте, <b>${userName}</b>!</p>
    <p>Вы получили это сообщение, потому что вас упомянули в качестве контакта для СМИ у издателя тендера.</p>
    <p>Это автоматически сгенерированное письмо. Пожалуйста, не отвечайте на него.</p>
    
    <p>Мы рады сообщить вам, что на платформе <b>${platformName}</b> опубликован новый тендер на арт-объект от ${organizationName}. Мы просим вас помочь в распространении информации об этой возможности через ваши медиа-каналы. Ниже приведены детали тендера:</p>

    <ul>
        <li><strong>Название тендера:</strong> ${tenderTitle}</li>
        <li><strong>Издатель тендера:</strong> ${stateOfficerName} из ${organizationName}</li>
        <li><strong>Ссылка на тендер:</strong> <a href="${tenderLink}">${tenderLink}</a></li>
        <li><strong>Срок отправки предложений:</strong> ${submissionPeriodFrom} - ${submissionPeriodTo}</li>
    </ul>
    
    <p>Мы хотели бы подчеркнуть, что <b>${platformName}</b> является некоммерческой платформой, посвященной поддержке и продвижению создания искусства, что также является некоммерческим процессом. В связи с этим мы искренне просим вас <b>опубликовать запрос на подачу предложений для этого тендера вашей аудитории</b> бесплатно. Ваше сотрудничество значительно поспособствует развитию креативности, украшению ландшафтов наших городов и предоставлению возможностей для талантливых художников.</p>
    
    <div th:if="${stateOfficerPhone} != null">
        <p>Для получения дополнительной информации или помощи, пожалуйста, свяжитесь с ${stateOfficerName} по телефону ${stateOfficerPhone}.</p>
    </div>

    <p>С уважением,</p>
    <p>платформа <a href="${platformLink}" style="text-decoration: none; color: inherit;"><b>${platformName}</b></a></p>
</body>
</html>
